
* {
    font-family: 'Segoe Marker', 'DejaVu', sans-serif;
}
code {
    font-family: 'Lucida Console', monospace;
}

body {
    background: lavender;
}

header {
    font-size: 2rem;
    background: purple;
    color: whitesmoke;
    border: 0.5rem solid rgb(199, 121, 199);
    padding: 1rem;
}

